body {
    color: #333;
    font-size: 16px;
    background-color: #000;
}

.footer {
    /* margin-bottom: 0; */
    background: 0 0;
    margin: 0 auto;
    padding-top: 70px;
    padding-right: 45px;
    padding-left: 45px;
    /* align-items: center; */
    max-width: 1000px;
}

.footer .content {
    padding-bottom: 20px;
    font-size: 1em;
    color: #757575;
    width: 90%;
}

#footer-title {
    font-size: 1em;
    margin-bottom: 30px;
    color: #757575;
}

.list-links {
    display: inline-block;
}

.list-links .footer-link {
    /* margin-left: 0; */
    text-decoration: none;
}

.footer-link {
    font-size: 13px;
    width: 25%;
    /* display: inline-block; */
    display: block;
    float: left;
    padding-right: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
    /* margin-left: 1.1em; */
    min-width: 100px;
}

.footer-link a {
    text-decoration: none;
    color: #757575;
}

#last-item-footer {
    margin-top: 24px;
    margin-bottom: 13px;
    font-size: 13px;
    color: #757575;
}

#last-footer {
    margin: 0 auto;
    width: 90%;
}

#last-footer select {
    background-color: black;
    color: #757575;
    width: 151px;
    height: 53px;
    font-size: 16px;
    border-color: #757575;
    border-radius: 1px;
}

#selection-footer {
    padding-left: 42px;
    appearance: none;
}

#last-item-footer p {
    color: #757575;
    padding-top: 20px;
}

#footer-content {
    margin: 0 auto;
}

#selection-footer-div::before {
    font-family: nf-icon;
    content: '\e896';
    font-size: 16px;
    position: absolute;
    pointer-events: none;
    color: #757575;
    padding-top: 19px;
    padding-left: 10px;
}

#selection-footer-div::after {
    font-family: nf-icon;
    content: '\e898';
    font-size: 6px;
    display: flex;
    margin-top: -28px;
    margin-left: 133px;
    color: #757575;
}