#header {
    border-bottom: 8px solid #222;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1.0) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1.0) 100%), url(../assets/background.jpg);
    width: 100%;
    background-size: cover;
    height: 710px;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 5rem;
    padding-top: 20px;
    margin-right: 56px;
    margin-left: 56px;
}

.wrap {
    padding: 70px 45px;
}

#selection-header {
    position: right;
    margin-right: 25px;
    width: 113.2px;
    color: white;
    border-width: 1px;
    background-color: black;
    width: 151px;
    height: 37px;
    font-size: 16px;
    border-color: white;
    border-radius: 1px;
    padding-left: 42px;
    appearance: none;
    margin-bottom: 32px;
}

#selection-header option {
    background: #757575;
    text-align: center;
    color: white;
}

#botao-login {
    background-color: red;
    color: white;
    padding: 7px 17px;
    border-radius: 3px;
    align-self: flex-end;
    text-decoration: none;
    align-self: end;
    width: 44px;
    height: 22px;
    text-align: center;
    margin-left: 30px;
}

#botao-login span {
    display: block;
    left: auto;
    padding-top: 4px;
}

#logo {
    height: 40px;
}

#main-div {
    text-align: center;
    padding: 75px 0;
    /* font-family: 'Open Sans', serif; */
    font-weight: 400;
    color: white;
    max-width: 950px;
    margin: 0 auto;
    width: 100%;
    line-height: 1.1;
}

#header-form {
    padding-top: .85rem;
}

#main-div h1 {
    font-size: 3.75rem;
    max-width: 640px;
    font-weight: 700;
    margin: 0 auto;
}

#main-div h2 {
    font-size: 1.625rem;
    max-width: 640px;
    margin: 1rem auto;
}

.form-title {
    font-size: 1.2rem;
    max-width: none;
    padding-bottom: 20px;
    font-size: 1.2rem;
    margin: 0 auto;
    font-weight: 400;
}

#input-div {
    /* display: inline-block; */
    display: flex;
    margin: 0 165px;
}

#input-email {
    width: 450px;
    height: 60px;
    flex: 1 0 auto;
}

#input-submit {
    width: 183px;
    background-color: red;
    border: none;
    cursor: pointer;
}

#input-submit span {
    color: white;
    font-size: 1.625rem;
}

#selection-header-div::before {
    font-family: nf-icon;
    content: '\e896';
    font-size: 16px;
    position: absolute;
    pointer-events: none;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

#selection-header-div::after {
    font-family: nf-icon;
    content: '\e898';
    font-size: 6px;
    /* display: flex; */
    margin-top: -47px;
    position: absolute;
    margin-left: -41px;
    padding-right: 9px;
    color: white;
    top: 90px;
}