#button_container{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
#main_header{
    align-items: center;
    justify-content: space-between;
    display: flex;
}


#selection_header {
    position: right;
    margin-right: 25px;
}

#botao_login{
    background-color: red;
    color: white;
    padding: 7px 17px;
    border-radius: 3px;
    align-self: flex-end;
    text-decoration: none;
    align-self: end;
}

#header{
    background-image: url(../assets/background.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    
}
