#main_div {
    text-align: center;
}

.section_1 {
    width: 100vw;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
} 

#image_background{
    height:100%;
    width: 100%;
    object-fit: cover;
}