/* #secao-wrapper{
    margin-left: 25%;
} */

#secao-5 {
    margin-left: 3.5%;
}

.wrapper{
    /* max-width: 1000px; */
    max-width: 1100px;
    margin: 0 auto;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;

    /* display: flex;
    justify-content: center; */
}

.wrapper h1{
    text-align: center;
    margin: 60px 0 40px -24%;
    font-size: 50px;


}

.lista-item{
    background: #303030;
    margin: 0 0 8px 0;
    max-width: 782px;

}

.faq-titulo{
    cursor: pointer;
    font-size: 26px;
    padding: .8em 2.2em .8em 1.2em;
}

.faq-titulo:after{
    content: '+';
    float: right;
    transition: transform .3s ease;
}

.faq-conteudo{
    display: none;
}

.trigger-input{
    display: none;
}

.trigger-input:checked + .trigger-wrapper .faq-conteudo{
    display: inline-block;
    padding: 1.2em;
    font-size: 26px;
}

.trigger-input:checked + .trigger-wrapper .faq-titulo{
    border-bottom: 5px solid black;

}

#secao-5-lista {
    margin-left: 7%;
}

#secao-5-form {
    max-width: 950px;
    padding-top: .85rem;
    margin-top: 4%;
}

#form-title-bottom{
    text-align: center;
}