.secao {
    border-bottom: 8px solid #222;
}
#secao-2-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#secao-2-animacao{
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: #000;
    display: flex;
    align-items: center;
    width: 60%;
    min-width: 15em;
    box-shadow: 0 0 2em 0 #000;
    border-radius: .75em;
    border: 2px solid rgba(255,255,255,.25);
    padding: .5em .75em;
}


#secao-2-animacao-container{
    position: relative;
    overflow: hidden;
    margin: -8% 0 -4% -15%;
}

#secao-2-animacao-container img{
  
    height: auto;
    /* border: 0; */
}

#secao-2-animacao-imagem{
    margin: 0 1em 0 0;
}

#secao-2-animacao-imagem img{
    height: 4.5em;
    max-width: 100%;
    border: 0;
}

#secao-2-text h1{
    font-size: 50px;
    color: white;
}
#secao-2-text h2{
    font-size: 26px;
    color: white;
}

#secao-2-img-container {
    display: flex;
    width: 48%;
    height: 100%;
    flex: 0 1 auto;
    box-sizing: border-box;
}

#text-0{
    color: white;
}

#text-1{
    color: blue;
}

#secao-2-animacao::after{
    outline: 2px solid #000;
    outline-offset: -2px;
    display: block;
    width: 3em;
    background: url(../assets/download-icon.gif) center center no-repeat;
    background-size: 100%;
    content: '';
    flex-grow: 0;
    flex-shrink: 0;
}